body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    color: #3a3a3a;
}

.typ-header {
    height: 195px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.typ-header-dark {
    background-color: #bc3b61;
}

.typ-section-title {
    padding: 40px 0 20px;
}

.typ-section-title h2 {
    border-bottom: 1px solid #575d6b; 
}

.typ-logo {
    background: url(aseets/logo.png) no-repeat;
    background-size: contain;
    height: 175px;
    width: 280px;
    display: inline-block;
}

.typ-menu {
    width: calc(99% - 280px);
    display: inline-block;
    vertical-align: bottom;
    padding-left: 40px;
    box-sizing: border-box;
    text-align: right;
}

.typ-menu p {
    display: inline-block;
    margin: 36px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #343434;
    border-bottom: 2px solid #c23869;
}

.typ-header-dark p{
    border-color: #14bfff;
    color: #ffffff;
}

.typ-menu p:hover {
    cursor: pointer;
    color: #757575;
    border-color: #232124;
}

.typ-header-dark p:hover {
    color: #ffffff;
    border-color: #232124;
}

.typ-main-image-section {
    background: linear-gradient(to right,#999da6, #575d6b);
    position: relative;
}

.typ-main-image {
    background: url(aseets/mainImage.jpg) no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

.typ-tagline {
    font-family: 'Noto Serif', serif;
    font-size: 2em;
    color: #fff214;
    position: absolute;
    width: 600px;
    top: calc(50% - 20px);
    left: calc(50% - 600px);
}

.typ-benefits-section {
    padding: 10px 0;
    padding: 20px 0 30px;
}

.typ-fix-width {
    width: 1200px;
    margin: 0 auto;
}

.typ-auto-width {
    width: auto;
    margin: 0 auto;
}

.typ-benefit-div {
    width: 25%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    color: #626977;
}

.typ-benefit-div-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 50%;
    box-sizing: border-box;
}

.typ-benefit-div img {
    width: 60px;
    height: 60px;
}

.typ-benefit-div h2 {
    color: #31353e;
}

.typ-service-section {
    background-color: #dbdde0;
    padding: 20px 0 30px;
}

.typ-service-div {
    width: 30%;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.typ-service-div img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-sizing: border-box;
}

.typ-service-div a {
    display: block;
    font-weight: bold;
    color: #505050;
    text-decoration: none;
    margin: 20px 0 10px;
}

.typ-service-div a:hover {
    color: #1e2025;
}

.typ-about-section {
    padding: 20px 0 30px;
}

.typ-news-section {
    padding: 20px 0 30px;
    background-color: #bc3b61;
    color: #ffffff;
}

.typ-news-section h2 {
    border-bottom: 1px solid #fff214; 
}

.typ-contacts-section {
    background-color: #3a3a3a;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.scroll-top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #454c5a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px 13px;
    box-sizing: border-box;
    display: none;
}

.scroll-top-button img {
    width: 35px;
    height: 34px;
    transform: rotate(-90deg);
}

.scroll-top-button:hover {
    background-color: #bc3b61;
    cursor: pointer;
}

/*------------------page----------------------*/

.typ-filtration-conatiner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.typ-select label {
    margin: 0 0 6px 10px;
    font-size: 13px;
    color: #505050;
}

.typ-filtration-conatiner .custom-select {
    margin-right: 20px;
}

/*-----------------login-page------------------*/

.typ-login-root {
    width: 100vw;
    height: 100vh;
    background-color: #454c5a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.typ-login-form {
    box-sizing: border-box;
    width: 420px;
    max-width: 100%;
    height: 350px;
    background-color: #ffffff;
    border: #0b2969 1px solid;
    border-radius: 8px;
    box-shadow: 4px 0 4px #454c5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typ-login-input {
    width: calc(100% - 50px);
}

.typ-invalid-input {
    border-color: #bc3b61 !important;
}

/*----------------------chat-------------------------*/

.chat-button {
    background: url('https://png.icons8.com/color/1600/chat');
    background-size: cover;
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
}

.chat-button:hover {
    cursor: pointer;
}

.chat {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    box-sizing: border-box;
    width: 320px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-top-left-radius: 6px;
    border-top-right-radius: 20px;
}

.chat-icon-button {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 20px;
}

.chat-icon-button:hover {
    cursor: pointer;
    opacity: 1;
}

.chat-close-button {
    position: absolute;
    right: -28px;
    top: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #1e2025;
    background: url('http://simpleicon.com/wp-content/uploads/cross.png') no-repeat top left;
    background-size: cover;
    opacity: 0.7;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    background: linear-gradient(#2f324a, #424867);
    border-top-left-radius: 6px;
    border-top-right-radius: 20px;
}

.chat-big-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.chat-name {
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.chat-phone-button {
    width: 34px;
    height: 34px;
    border: #1e2025;
    background: url('https://www.trzcacak.rs/file/max/52/520900_phone-icon-png-transparent.jpg') no-repeat top left;
    background-size: cover;
    margin-left: auto;
}

.chat-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 14px;
    max-height: 320px;
    height: 320px;
    background-color: #fff;
    overflow-y: auto;
}

.chat-incoming-message {
    display: flex;
    margin-top: 16px;
}

.chat-outcoming-message {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
}

.chat-small-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.chat-outcoming-message .chat-small-icon {
    margin-right: 0;
    margin-left: 10px;
}

.chat-message {
    flex: 1;
    border-radius: 8px;
    padding: 12px 14px;
    font-size: 13px;
    margin: 0;
}

.chat-incoming-message .chat-message {
    background-color: #f1f0f0;
}

.chat-outcoming-message .chat-message {
    background-color: #4db6ac;
    color: #fff;
}

.chat-footer {
    border-top: 1px solid #d8dee3;
    background-color: #fff;
    padding: 20px 14px;
    display: flex;
}

.chat-send-button {
    width: 34px;
    height: 34px;
    background: url('https://cdn4.iconfinder.com/data/icons/flat-circle-content/800/circle-content-send-512.png');
    background-size: cover;
    margin-left: auto;
}

.chat-input {
    flex: 1;
    border: none;
    outline: none;
}
